<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="static/css/styles.css" media="screen" />
    <title>Movie Recommender System</title>
</head>

<body>
    <main>
        <h1>{{ title }}</h1>
        <h2>Step 1: Here are some of the most popular movies of all times! Please rate as many as possible. If you haven't seen a movie, let the slider at 0.</h2>

        <form action="/recommender">
            <div class="wrapper">
                {% for movie_info_input in movies %}
                    <div class="card">
                        <label for="movie{{movie_info_input[6]}}">{{ movie_info_input[0] }}</label>
                        <img src={{movie_info_input[2]}} alt="Poster 0">
                        <input type="range" min="0" max="5" value="0" class="slider" name="movie{{movie_info_input[6]}}" />
                    </div>
                {% endfor %}
            </div>

            <div class="decades">
                <h2>Step 2: What kind of movies do you prefer?</h2>

                <input type="radio" id="old" name="preference" value="1">
                <label for="old">Oldies but goldies!</label>
                <input type="radio" id="new" name="preference" value="2">
                <label for="new">The newer the better</label>
                <input type="radio" id="any" name="preference" value="3">
                <label for="any">I'd watch anything with a pizza</label>
            </div>

            <input type="submit" onclick="this.value='Calculating...'" value="Recommend me new movies!" id="button1"/>

            
        </form>

    </main>
</body>

</html>